depexts: [
  ["minisat"] { os-distribution = "nixos" | os-family = "debian" | os-family = "ubuntu" }
  ["zlib"] { os-distribution = "nixos" }
  ["zlib1g-dev"] { os-family = "debian" | os-family = "ubuntu"}
]